* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
}
html, body {
  height: 100%;
}
body {
  overflow: hidden;
  background-color: #1E222B;

}
.home-page {
  @include md_1190 {
    max-height: 100vh;
    overflow: hidden;
  }
}
span {
  display: inline-block;
}
a {
  display: inline-block;
  text-decoration: none;
}
.main-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}
.wide-content {
  max-width: 1590px;
  margin-left: auto;
}
.p-r-0 {
  padding-right: 0;
}
section {

}
.content {
  max-width: 1278px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #505359;
}


