.user {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 37px;
  border-bottom: 1px solid #313742;
  max-width: 236px;
  width: 100%;
  margin: 0 auto;
  img {
    width: 71px;
    height: 71px;
    object-fit: contain;
    border-radius: 50%;
  }
  &__content {
    margin-left: 30px;
    padding-top: 8px;
  }
  &__name{
    color: #ffffff;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  &__log{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logout {

  }
  &__menu {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #3B3F48;
    color: #fff;
    display: flex;
    justify-content: center;
    transform: rotate(90deg);
    cursor: pointer;
    margin-left: 13px;
    transition: background-color .3s, color .3s;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  @include md_1190 {
    flex-direction: column;
    padding: 0 5px 25px 5px;
    img {
      max-width: 100%;
      height: auto;
    }
    &__content {
      margin-left: 0;
    }
    &__name {
      display: none;
    }
    &__log {
      flex-direction: column;
    }
    .btn {
      padding: 1px 10px;
      letter-spacing: 0.33px;
      line-height: 19px;
    }
    &__menu {
      margin-left: 0;
      margin-top: 15px;
    }
  }
}