.nav {
  margin-top: 48px;
  padding-left: 29px;
  padding-right: 26px;
  &__list {

  }
  &__item {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    &:last-child {
      margin-bottom: 16px;
    }
    &:hover:before {
      opacity: 1;
      visibility: visible;
    }
    &--drop {
      position: relative;
      a {
        &:after {
          content: "\2039";
          position: absolute;
          color: #848586;
          right: 7px;
          top: 14px;
          transform: rotate(90deg) translateY(-3px);
        }
      }
      &.open {
        a:after {
          transform: rotate(-90deg);
        }
        ul {
          height: auto;
          margin: 14px 0 19px 40px;
        }
      }
    }
    img {
      max-width: 20px;
      object-fit: contain;
    }
    a {
      padding: 9px 20px 9px 40px;
      position: relative;
      color: #C7C7C7;
      font-family: 'OpenSans-Regular';
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.32px;
      width: 100%;
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24px;
      }
      &:before {
        content: '';
        position: absolute;
        left: -28px;
        top: 0;
        width: 4px;
        height: 45px;
        background-color: #FF8F00;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s;
      }
      img {
        position: absolute;
        left: 0;
        top: 14px;
      }
      &:hover:before {
        opacity: 1;
        visibility: visible;
      }
    }
    ul {
      height: 0;
      overflow: hidden;
      width: 100%;
      li {
        margin-bottom: 13px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 0.28px;
        font-family: 'OpenSans-Light';
        a {
          padding: 0;
          text-overflow: unset;
          font-size: 14px;
          &:before, &:after {
            display: none;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &.active {
      a {
        color: #FF8F00;
        font-family: 'OpenSans-Bold';
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }

    }
  }
  @include md_1190 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    margin-bottom: 28px;
    &__item {
      margin-bottom: 25px;
      a {
        text-align: center;
        padding: 5px;
        &:before, &:after {
          display: none;
        }
        span {
          display: none;
        }
        img {
          position: static;
        }
      }
      ul {
        display: none;
      }
    }
  }
}


.nav-search {
  padding-left: 31px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 90px;
  img {
    margin-right: 22px;
  }
  span {
    position: absolute;
    left: 0;
    top: 6px;
    pointer-events: none;
    font-family: "OpenSans-Regular";
    font-size: 16px;
    color: #C7C7C7;
    transition: opacity .3s;
  }
  input {
    background-color: transparent;
    color: #C7C7C7;
    padding: 6px 0 6px 15px;
    border: 1px solid transparent;
    width: 100%;
    &:focus {
      border-color: #A4946A;
    }
    &:focus ~ span {
     opacity: 0;
    }
  }
  &__form {
    position: relative;
    padding-right: 29px;
  }
  &.on span {
    opacity: 0;
  }
  @include md_1190 {
    padding-left: 0;
    justify-content: center;
    img {
      margin: 0;
    }
    &__form {
      display: none;
      span {
        display: none;
      }
    }
  }
}